{% extends "snippets/base_gen.html" %}

<head>
    {% block title %}<title>Live View</title>{% endblock %}
</head>
{% block content %}
<br>
<h1>Live View</h1>
    <!-- Additional CSS  -->
    <link href="https://vjs.zencdn.net/7.2.3/video-js.css" rel="stylesheet">
<div class="jumbotron">
    <div class="row w-100">
            <!-- Video Grid -->
                {% for dir in stream_dir %}
                <div class="col-md-10">
                <button onclick="myFunction_{{dir|cut:" "}}()">{{dir}}</button>
                    <div id="{{dir|cut:" "}}">
                        <video id='hls-example'  class="video-js vjs-default-skin" width="400" height="300" controls>
                            {% load static %}
                            <source type="application/x-mpegURL" src="{% static 'cameras/' %}{{dir}}/stream.m3u8">
                        </video>
                    </div>
                    <!-- JS -->
                    <script>
                    var x = document.getElementById("{{dir|cut:" "}}");
                    x.style.display = "none";
                    function myFunction_{{dir|cut:" "}}() {
                        var x = document.getElementById("{{dir|cut:" "}}");
                        if (x.style.display === "none") {
                            x.style.display = "block";
                        } else {
                            x.style.display = "none";
                        }
                    }
                    </script>
                    <!-- End JS -->
                </div>
                {% endfor %}
                <script src="https://vjs.zencdn.net/ie8/ie8-version/videojs-ie8.min.js"></script>
                <script src="https://cdnjs.cloudflare.com/ajax/libs/videojs-contrib-hls/5.14.1/videojs-contrib-hls.js"></script>
                <script src="https://vjs.zencdn.net/7.2.3/video.js"></script>
                <script>
                    var player = videojs('hls-example');
                    player.play();
                </script>
            </div>
            </div>
            <!-- End of Video Grid-->
{% endblock %}
