{% extends "base_gen.html" %}

<head>
    {% block title %}<title>Test Camera</title>{% endblock %}
</head>
{% block content %}
    <!-- CSS  -->
    <link href="https://vjs.zencdn.net/7.2.3/video-js.css" rel="stylesheet">

    <!-- HTML -->
    <div class="grid-container">
        {% for dir in stream_dir %}
            <span class="span2" tabindex="0"><b>{{dir}}</b></span>
            <p class="alert" >
                <video id='hls-example' class="video-js vjs-default-skin" width="400" height="300" controls>
                    <source type="application/x-mpegURL" src="static/{{dir}}/stream.m3u8">
                </video>
                <span class="span3" tabindex="0">/\</span>
            </p>
        {% endfor %}
    </div>

    <!-- JS code -->
    <script src="https://vjs.zencdn.net/ie8/ie8-version/videojs-ie8.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/videojs-contrib-hls/5.14.1/videojs-contrib-hls.js"></script>
    <script src="https://vjs.zencdn.net/7.2.3/video.js"></script>

    <script>
        var player = videojs('hls-example');
        player.play();
    </script>
    <script>
        $('.btn-cta-secondary').click(function (e) {
            var id = $(e.currentTarget).data('id')
            $('#til' + id).toggle()
        })
    </script>
{% endblock %}
